<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body large-modal">
    <tabset [justified]="true">
        <tab heading="Domains">
            <br>
            <div class="row">
                <div class="col-9">
                    <div class="alert alert-success">
                        The selection involved communications with
                        email addresses belonging to the following domains
                    </div> 
                </div>
                <div class="col-3">
                    <button type="button" (click)="exportToCsv('participants')" class="btn btn-primary">Export</button>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Emails</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of domains; index as i">
                    <td>{{ i + 1}}</td>
                    <td>{{ d.domainName }}</td>
                    <td>{{ d.totalEmails }}</td>
                    </tr>
                </tbody>
            </table>
        </tab>
        <tab heading="Participants">
            <br>
            <div class="row">
                <div class="col-9">
                    <div class="alert alert-success">
                        The selection involves communications
                        between the following participants
                    </div> 
                </div>
                <div class="col-3">
                    <button type="button" (click)="exportToCsv('participants')" class="btn btn-primary">Export</button>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Sent</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of participants; index as i">
                    <td>{{ i + 1}}</td>
                    <td>{{ p.emailName }}</td>
                    <td>{{ p.emailAddress }}</td>
                    <td>{{ p.emailsReceived }}</td>
                    </tr>
                </tbody>
            </table>
        </tab>
        <tab heading="Timeline">
            <div id="visualization"></div>
        </tab>
        <tab heading="Trends">
            <div id="visualization"></div>
        </tab>
        <tab heading="View">
            This will be a table of the person's emails
        </tab>

    </tabset>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>